body {
  background-color: #E4E8E9;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #A9A9A9;
}

a:hover {
  background-color: #EEEEEE;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  height: auto;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1100px;
}

.container img {
  width: 100%;
  height: auto;
}

.container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-55%, -20%);
  -ms-transform: translate(-50%, -50%);
  background-color: #013C64;
  color: white;
  font-size: 20px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  font-family: 'Archivo Narrow';
}

.container .btn:hover {
  background-color: black;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  transform: translate(-50%, -180%);
  color: #5B7071;
  font-size: 40px;
  font-weight: 900;
  font-family: 'Courgette';
}

h1 {
 font-family: 'Graduate';
 font-size: 40px;
 color: #95D4BF;
}
